
html,body {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}
/*폰트*/
@font-face {
    font-family: 'DungGeunMo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*헤더*/
.CodeForceHeader{
    position: fixed;
    top: 0;
    height: 100vh;
    width: 12.5%;
    background-color: #252525;
    color: #ffffff;
    font-family: 'DungGeunMo';
    font-size: 40px;
    padding: 50px;
    line-height: 80px;
    z-index: 1;
    cursor: pointer;
}
.Logo {
    width: 100px;
    height: auto;
    padding-left:10%;
}
/*홈*/
.Home {
    height: 70vh;
}
.Title {
    position: absolute;
    font-size: 200px;
    left: 60%;
    font-family: 'DungGeunMo';
    transform: translate(-50%,0%);
}
/*소개*/
.Infomation {
    height: 50vh;
    font-family: 'DungGeunMo';
}
.I_Logo {
    width: 20%;
    height: auto;
    font-size: 40px;
    position: absolute;
    left: 30%;
    transform: translate(0%,15%);
}
.I_Title {
    position: absolute;
    font-size: 30px;
    transform: translate(-50%,0%);
    left: 60%;
}
.I_content {
    font-size: 30px;
    position: absolute;
    left: 55%;
    transform: translate(0%,400%);
}
.I1_content {
    font-size: 30px;
    position: absolute;
    left: 55%;
    transform: translate(0%,650%);
}
.I2_content {
    font-size: 30px;
    position: absolute;
    left: 55%;
    transform: translate(0%,900%);
}

/*득쌤*/
.Dcoder {
    height: 50vh;
    font-family: 'DungGeunMo';
}
.D_Title {
    position: absolute;
    font-size: 30px;
    transform: translate(-50%,0%);
    left: 60%;
}
.D_content {
    font-size: 3em;
    position: absolute;
    left: 30%;
    background-color: white;
    transform: translate(30%,30%);
    font-family: 'DungGeunMo';
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3vh;
    padding-bottom: 3vh;
    padding-left: 1vw;
    padding-right: 1vw; 
}
.D_content :hover {
    background-color: rgb(183, 183, 183);
    cursor: pointer;
}
.D_content img {
    order: -1; 
}
.D1_content {
    font-size: 30px;
    position: absolute;
    left: 55%;
    transform: translate(0%,300%);
}
.D2_content {
    font-size: 30px;
    position: absolute;
    left: 55%;
    transform: translate(0%,600%);
}
.D3_content {
    font-size: 30px;
    position: absolute;
    left: 55%;
    transform: translate(0%,680%);
    cursor: pointer;
}

/*활동정보*/
.Activity {
    height: 50vh;
    font-family: 'DungGeunMo';
}
.A_Title {
    position: absolute;
    font-size: 30px;
    transform: translate(-50%,0%);
    left: 60%;
}
.A_btn {
    font-size: 1.5em;
    position: absolute;
    background-color: white;
    font-family: 'DungGeunMo';
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
    border-radius: 20px; 
    bottom: -118%;  
    padding-left: 0;
    padding-right: 0;
}
.A_content {
    font-size: 12px;
    font-family: 'Arial';
}
.A_btn img {
    order: -1;
    width: 100%;
    max-width: 200px;
    height: auto;
    object-fit: cover;
    border-radius: 20px;
    padding-bottom: 15px;
}

/*이벤트*/
.Event {
    height: 100vh;
    font-family: 'DungGeunMo';
}
.E_Title {
    position: absolute;
    font-size: 30px;
    transform: translate(-50%,0%);
    left: 60%;
}
.E_content {
    font-size: 40px;
    position: absolute;
    left: 60%;
    transform: translate(-50%,250%);
}
/*정보*/
.ClubInfo {
    height: 40vh;
    background-color: black;
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.C_Title {
    position: relative;
    color: rgb(148, 148, 148);
    left:  12.5%;
}