
html,body {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}
/*폰트*/
@font-face {
    font-family: 'DungGeunMo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*헤더*/
.CodeForceHeader{
    position: fixed;
    top: 0;
    height: 100vh;
    width: 12.5%;
    background-color: #252525;
    color: #ffffff;
    font-family: 'DungGeunMo';
    font-size: 40px;
    padding: 50px;
    line-height: 80px;
    z-index: 1;
    cursor: pointer;
}
.Logo {
    width: 100px;
    height: auto;
    padding-left:10%;
}
/*홈*/
.Home {
    height: 70vh;
}
.Title {
    position: absolute;
    font-size: 200px;
    left: 60%;
    font-family: 'DungGeunMo';
    transform: translate(-55%,0%);
}
/*소개*/
.Infomation {
    height: 50vh;
    font-family: 'DungGeunMo';
    background-color: rgb(116, 115, 115);
}
.I_Title {
    position: absolute;
    font-size: 30px;
    transform: translate(-50%,0%);
    left: 60%;
}
.I_content {
    font-size: 40px;
    position: absolute;
    left: 60%;
    transform: translate(-50%,250%);
}

/*득쌤*/
.Dcoder {
    height: 50vh;
    font-family: 'DungGeunMo';
}
.D_Title {
    position: absolute;
    font-size: 30px;
    transform: translate(-50%,0%);
    left: 60%;
}
.D_content {
    font-size: 40px;
    position: absolute;
    left: 60%;
    transform: translate(-50%,250%);
    
}
/*활동정보*/
.Activity {
    height: 50vh;
    font-family: 'DungGeunMo';
    background-color: rgb(99, 98, 98);
}
.A_Title {
    position: absolute;
    font-size: 30px;
    transform: translate(-50%,0%);
    left: 60%;
}
.A_content {
    font-size: 40px;
    position: absolute;
    left: 60%;
    transform: translate(-50%,250%);
}
/*이벤트*/
.Event {
    height: 100vh;
    font-family: 'DungGeunMo';
}
.E_Title {
    position: absolute;
    font-size: 30px;
    transform: translate(-50%,0%);
    left: 60%;
}
.E_content {
    font-size: 40px;
    position: absolute;
    left: 60%;
    transform: translate(-50%,250%);
}
/*정보*/
.ClubInfo {
    height: 40vh;
    background-color: black;
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.C_Title {
    position: relative;
    color: gray;
    left:  12.5%;
}